#home{
  //position: absolute;
  position: relative;
  background-color: white;
  // 第一行前两列导航栏
  .cloud_box{
    width: 95%;
    //background-color: skyblue;
    .ant-card{
      .ant-card-body{
        //display: flex;
        padding: 24px;
        p{
          margin: 0;
        }
        .CB_content{
          float: left;
          width: 50%;
          //height: 20px;
          margin-left: 15px;
          //background-color: skyblue;

          .title{
            margin: 0;
            font-size: 13px;
            color:rgba(0,0,0,.4);
            user-select: none;
          }
          .data{
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: rgba(0,0,0,.6);
            user-select: none;
          }
        }
      }
    }
  }

  // 第一行的echarts
  #echarts_box1{
    width: 100%;
    height: 201px;

    div{
      width: 100% !important;
    }
  }
  .box1_title{
    position: absolute;
    top:10px;
    left: 50px;
    font-size: 18px;
    color: skyblue;
    user-select: none;
    z-index: 2;
  }

  // 第二行导航卡片title
  .secondLineTitleBox{
    padding-bottom: 20px;
    p{
      margin: 0;
      user-select: none;
    }
    .title{
      font-size: 14px;
      color: rgba(0,0,0,.65);
    }
    .intro{
      font-size: 12px;
      color:rgba(0,0,0,.35)
    }
  }

  // 第二行的echarts
  #echarts_box2{
    width: 100%;
    height: 280px;
    overflow: hidden;
  }
}
